{
    "presets" : [
        ["@babel/preset-env", { "targets" : { "node" : "current" } }],
        "@babel/preset-react",
        "@babel/preset-typescript"
    ],
    "plugins": [
        "@babel/plugin-transform-react-jsx",
        "@babel/plugin-transform-runtime"
    ],
    "parserOpts": {
        "plugins": ["jsx", "typescript"]
    }
}
